html, body {
  height: 100%;
  margin: 0;
}

html {
  background-color: #272727;
  background-attachment: fixed;
}


body {
  min-height: 100%;
  background: transparent;
  color: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


body::-webkit-scrollbar,
.pdf-container::-webkit-scrollbar,
iframe::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track,
.pdf-container::-webkit-scrollbar-track,
iframe::-webkit-scrollbar-track {
  background: #272727;
}

body::-webkit-scrollbar-thumb,
.pdf-container::-webkit-scrollbar-thumb,
iframe::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
  border: 3px solid #272727;
}



