html, body {
  height: 100%;
  margin: 0;
}

html {
  background-color: #272727;
  background-attachment: fixed;
}


body {
  min-height: 100%;
  background: transparent;
  color: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

::-webkit-scrollbar {
  display: none;
}

