html, body {
  height: 100%;
  margin: 0;
}

html {
  background-color: #272727;
  background-attachment: fixed;
}


body {
  min-height: 100%;
  background: transparent;
  color: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.pdf-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.pdf-container::-webkit-scrollbar-track {
  background: transparent;
}

.pdf-container::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

